<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitmapDisplayTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <BitmapDisplayTest.Properties.Settings>
            <setting name="MADSFullPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="AssemblyFullPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PaletteFullPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmulatorFullPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmulatorCommandLine" serializeAs="String">
                <value/>
            </setting>
        </BitmapDisplayTest.Properties.Settings>
    </userSettings>
</configuration>
